.container-fluid
  .row-fluid
    .col-md-6.col-md-offset-3
      %h3.alert
        %a{href:'#', onclick: 'history.back(); return false;'}
          %i.fa.fa-chevron-left
        Edit Photo
        %span.glyphicon.glyphicon-film

  .row-fluid
    .col-md-6.col-md-offset-3
      %form{action:'/update', method:'post', role:'form'}
        .form-group
          %label{for:'title'} Title
          %input.form-control{type:'text', name:'title', id:'title', value:@info['title']}
        .form-group
          %label{for:'description'} Description
          %textarea.form-control{rows:'3', type:'text', name:'description', id:'description'}= @info['description']
        %br
        %input{type:'hidden', name:'photo_id', id:'photo_id', value:@id}
        %input{type:'hidden', name:'mode', id:'mode', value:params['mode']}
        %input.btn.btn-info.btn-lg{type:'submit',value:'Save'}
