.container-fluid
  .row-fluid
    .col-md-8.col-md-offset-2
      %div
        %a#pd_loading.pd_loading{href:"#"}

      %div#pd_options_bar.pd_options_bar
        %a.shuffle{href:"#"}Shuffle
        %a.backdesk{href:"#", style:"display:none;"}Back to Desk
        %a.viewall{href:"#"}View All

      - if @totalPhotos > 0
        - @allUserPhotos.each do |photo|
          %div#pd_container.pd_container
            %div.pd_photo
              %div.pd_hold
                %img{src:'http://farm' + photo['farm'].to_s + '.static.flickr.com/' + photo['server'].to_s + '/' + photo['id'].to_s + '_' + photo['secret'].to_s + '_m.jpg', style:"border:1px solid black;border-radius:5px;width:200px;height:200px;"}
              %span.delete
