.container-fluid
  .row-fluid
    .col-md-8.col-md-offset-2
      %table.table.table-striped#view-table
        %thead
          %th
          %th Title
          %th Date Uploaded
        %tbody
          - @allUserPhotos.each do |photo|
            %tr
              %td
                %a.btn.btn-success{href:'/view/' + photo['id'].to_s + '/' + photo['farm'].to_s + '/' + photo['server'].to_s + '/' + photo['secret'].to_s} View
                %a.btn.btn-success{href:'/detach/' + photo['id'].to_s, onclick:'return confirm("Are you sure you want to detach this video?")'} Detach
              %td= photo['title']
              %td= photo['dates']['taken']
