.flex-photo {
  position: relative;
  padding-top: 25px;
  padding-bottom: 300px;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}


.flex-photo iframe, iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border:none;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-photo { padding-top: 0; }
}
